/*code by Jacynta
currently following "React & Node ECommerce Tutorials for Beginners 2022 [MERN Stack ECommerce Website]" tutorial by Coding with Basir on YouTube. Will make more tweaks for originality later on*/

/*just some css for visibility. Lisa, please change anything you want.

/*think about using SASS/SCSS for the css instead of just vanilla css

/*css reset*/
main {
  flex: 1;
}

body {
  margin: 0;
  font-family: 'Tahoma';
}

/* Header Start */
header {
  padding: 1rem;
}

.container, header, navbar-expand navbar-dark bg-dark{
  background-color: white;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: white!important;
}

navbar-expand navbar-dark bg-dark{
  width: auto;
}
/* Header End */

h1{
  color:#5C7372;
  font-size: 24px;
}

.nav-item{
 margin-top: 10px;

}

#category-button{
  
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 18px;
    padding: 10px;
    background-color: #C87E5E;
    margin-top:10px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 
}


/*add to cart button*/
.btn-primary {
  background-color: yellow;
  color: black;
}

/*keeps the app the right size*/
.site-container {
  min-height: 100vh;
}

/*all products*/
.products {
  display: flex;
  flex-wrap: wrap;
}

/*individual product display*/
.product {
  border: 1px #404040 solid;
  margin: 1rem;
  justify-content: center;
}

/*product images*/
.product img {
  width: 100%;
  max-width: 400px;
}

/*rating. Could delete?*/
.rating span {
  color: yellow;
}

/*product description*/
.productInfo {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: grey;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid orange;
  color: orange;
}
